# === FRONTEND ENV ===
NODE_ENV=production
NEXT_PUBLIC_API_URL=https://api.atoutsolaire.ma
NEXT_PUBLIC_SITE_URL=https://atoutsolaire.ma
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
NEXT_PUBLIC_FB_PIXEL_ID=XXXXXXXXXXXX
NEXT_PUBLIC_WHATSAPP_NUMBER=212631038760
NEXT_PUBLIC_CONTACT_PHONE=0523343993
NEXT_PUBLIC_CONTACT_EMAIL=solaireatout@gmail.com
